<div class='container'>
  <div class='row'>
    <h1 class="px-3 mx-auto">Welcome to <i class="fas fa-book"></i><strong>Mangas</strong>!</h1>
    <h4>mangaとは漫画が好きの人のためのSNSです。
    情報収集するためフォロー機能であったりコメント機能を利用して共有します。
    それにより漫画ファンの交流サイトなり交流を深めことが可能です。
    いいね機能やランキング機能を設けることによりサイト利用率を向上を目的とします。
    ※画像投稿に関しましては著作権関係上、漫画のコマなどの掲載はお控えください
   </h4>
  </div>
</div>