<footer>
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p>CopyRight Infratop.inc</p>
    		<%= link_to new_contact_path, class: "btn btn-primary text-white", method: :get do %>
            <i class="far fa-envelope fa-2x"></i>お問い合わせ
          <% end %>
    	</div>
    </div>
  </div>
</footer>